/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
}

.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: #454759;
  color: #fff;
  padding: 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  padding: 15px;
  color: #c7c7c7;
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-item:hover,
.menu-item.active {
  background: #6d050e;
  color: #fff;
}

/* Main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-betw
