/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
}

.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: #454759;
  color: #fff;
  padding: 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  padding: 15px;
  color: #c7c7c7;
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-item:hover,
.menu-item.active {
  background: #602e32;
  color: #fff;
}

/* Main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.search input {
  padding: 10px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.filters select {
  padding: 10px;
  margin-left: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.content {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.report {
  height: 900px;
  border: 1px dashed #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Table Styles */
#dataEntryTable thead th {
  background-color: #403f3fff;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #090401ff;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: #3b1b24ff;
}

.data-table th,
.data-table td {
  padding: 12px;
  border: 1px solid #ddd;
}

#dataEntryTable .grey-row td {
  background-color: #e2dbdbff;
}

#dataEntryTable .grey-row_2 td {
  background-color: #6b3636ff;
}

#dataEntryTable .grey-row_head td {
  background-color: #d0c894ff;
}

.data-table input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Table Controls */
.table-controls {
  margin-bottom: 10px;
}

.table-controls button {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  background: #1b1f3b;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.table-controls button:hover {
  background: #2e3360;
}

/* Tabs Fix */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* Sub-tabs */
.sub-tabs
